<div class="container-fluid">
    <div class="row">
        <div class="col-auto" *ngIf="!(docTag | async)">
            <form #d="ngForm" novalidate (ngSubmit)="create(d.value)">
                <div class="form-group row">
                    <label for="savedName" class="col-md-4 col-form-label">SavedName</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="partNo" ngModel name="savedName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="partNo" class="col-md-4 col-form-label">PartNumber</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="partNo" ngModel name="partNo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="workOrderNo" class="col-md-4 col-form-label">WorkOrder No</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="workOrderNo" ngModel name="workOrderNo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="weight" class="col-md-4 col-form-label">Weight</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="weight" ngModel name="weight">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="customer" class="col-md-4 col-form-label">Customer</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="customer" ngModel name="customer">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="coilNum" class="col-md-4 col-form-label">CoilNum</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="coilNum" ngModel name="coilNum">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="manufacturer" class="col-md-4 col-form-label">Manufacturer</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="manufacturer" ngModel name="manufacturer">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="width" class="col-md-4 col-form-label">Width</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="width" ngModel name="width">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-lg-5 col-sm-10">
                        <button type="submit" class="btn btn-primary">Add
                  </button><span *ngIf="isSuccess">
                      <strong>Success!</strong>
                </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form #f="ngForm" novalidate (ngSubmit)="save(f.value)">
                <div class="row">
                    <div class="col-md-auto">
                        <div class="form-group row">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchDOc" ngModel placeholder="Search for...">
                                <span class="input-group-btn">
                              <button class="btn btn-secondary" type="submit">Search!
                              </button>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <!-- <ul class="list-group" *ngFor="let tag of docTag | async">
                            <li class="list-group-item">{{tag | json}}</li>
                        </ul> -->
                        <table class="table table-bordered table-fit">
                            <caption *ngIf="docTag | async">
                                <EM>-- Download into .csv format --</EM>
                            </caption>
                            <caption *ngIf="!isValid">
                                <EM>-- No such Record!!! --</EM>
                            </caption>
                            <thead *ngIf="docTag | async">
                                <tr>
                                    <th>#</th>
                                    <th>Part Number</th>
                                    <th>Work-Order Number</th>
                                    <th>Weight</th>
                                    <th>Customer</th>
                                    <th>Coil Number</th>
                                    <th>Manufacturer</th>
                                    <th>Width</th>
                                    <th>Date-Capture</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tag of docTag | async; let i= index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{tag.partNum}}</td>
                                    <td>{{tag.workOrderNum}}</td>
                                    <td>{{tag.weight}}</td>
                                    <td>{{tag.customer}}</td>
                                    <td>{{tag.coilNum}}</td>
                                    <td>{{tag.manufacturer}}</td>
                                    <td>{{tag.width}}</td>
                                    <td>{{tag.dateCapture}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr *ngIf="docTag|async">
                                    <td valign="bottom" align="right">
                                        <button class="btn btn-success" ngModel name="download" (click)="GenerateCSV()">Download</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>