<div class="container-fluid">
    <button type="button" #collapseButton class="btn btn-outline-primary d-inline-flex p-2 my-2" (click)="loadForm(!isCollapsed)" [attr.aria-expanded]="isCollapsed" aria-controls="collapseExample"> Show Form
  </button>
    <div class="row">
        <div class="col-6" id="collapseExample" [ngbCollapse]="isCollapsed">
            <form #d="ngForm" novalidate (ngSubmit)="create(d.value)">
                <div class="form-group row">
                    <label for="savedName" class="col-md-4 col-form-label">SavedName</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="partNo" ngModel name="savedName">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="partNo" class="col-md-4 col-form-label">PartNumber</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="partNo" ngModel name="partNo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="workOrderNo" class="col-md-4 col-form-label">WorkOrder No</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="workOrderNo" ngModel name="workOrderNo">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="weight" class="col-md-4 col-form-label">Weight</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="weight" ngModel name="weight">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="customer" class="col-md-4 col-form-label">Customer</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="customer" ngModel name="customer">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="coilNum" class="col-md-4 col-form-label">CoilNum</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="coilNum" ngModel name="coilNum">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="manufacturer" class="col-md-4 col-form-label">Manufacturer</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="manufacturer" ngModel name="manufacturer">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="width" class="col-md-4 col-form-label">Width</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" id="width" ngModel name="width">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-lg-5 col-sm-10">
                        <button type="submit" class="btn btn-primary">Add
            </button>
                        <span *ngIf="isSuccess">
              <strong>Success!</strong>
            </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <form #f="ngForm" novalidate (ngSubmit)="save(f.value)">
                <div class="row">
                    <div class="col">
                        <div class="form-group row d-inline-flex p-2">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchDOc" ngModel placeholder="Enter ID Number...">
                                <span class="input-group-btn">
                                  <button class="btn btn-secondary d-inline-flex pad2x mx-0" type="submit">Search!
                                  </button>
                                </span>
                                <span *ngIf="docTag | async" class="input-group-btn mx-5"><button class="btn btn-success" ngModel name="download" (click)="GenerateCSV()">Download *.csv</button></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <!-- <ul class="list-group" *ngFor="let tag of docTag | async">
                            <li class="list-group-item">{{tag | json}}</li>
                        </ul> -->
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" [mfData]="docTag | async" #mf="mfDataTable" [mfRowsOnPage]="5">
                                <!-- <caption *ngIf="docTag | async">
                                    <EM>-- Download into .csv format --</EM>
                                </caption> -->
                                <caption *ngIf="!isValid">
                                    <EM>-- No Such Record Found!!! --</EM>
                                </caption>
                                <thead *ngIf="docTag | async">
                                    <tr>
                                        <th>
                                            <mfDefaultSorter by="#">#</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="partNum">Part Number</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="workOrderNum">Work-Order Number</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="weight">Weight</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="customer">Customer</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="coilNum">Coil Number</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="manufacturer">Manufacturer</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="width">Width</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="dateCapture">Date-Captured</mfDefaultSorter>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tag of mf.data; let i= index">
                                        <th scope="row">{{(i+1)+( (mf.activePage-1)* mf.rowsOnPage)}}</th>
                                        <td>{{tag.partNum}}</td>
                                        <td>{{tag.workOrderNum}}</td>
                                        <td>{{tag.weight}}</td>
                                        <td>{{tag.customer}}</td>
                                        <td>{{tag.coilNum}}</td>
                                        <td>{{tag.manufacturer}}</td>
                                        <td>{{tag.width}}</td>
                                        <td>{{tag.dateCapture}}</td>
                                    </tr>
                                </tbody>
                                <tfoot *ngIf="docTag | async">
                                    <tr>
                                        <td colspan="9">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td colspan="9" class="text-center" valign="bottom" align="right">
                                            <button class="btn btn-success" ngModel name="download" (click)="GenerateCSV()">Download *.csv</button>
                                        </td>
                                    </tr> -->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </form>

        </div>

    </div>