<div class="container-fluid">
    <div class="row">
        <div class="col-lg-auto"><span class="border border-primary">W</span></div>
        <div class="col-lg-auto"><span class="border border-secondary">E</span></div>
        <div class="col-lg-auto"><span class="border border-success">L</span></div>
        <div class="col-lg-auto"><span class="border border-danger">C</span></div>
        <div class="col-lg-auto"> <span class="border border-warning">O</span></div>
        <div class="col-lg-auto"><span class="border border-info">M</span></div>
        <div class="col-lg-auto"><span class="border border-dark">E</span></div>
    </div>
</div>